<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Setter-based dependency injection-->
	
   <bean id = "textEditor" class = "com.tutorialspoint.TextEditor">
      <property name = "spellChecker" ref = "spellChecker"/>
   </bean> 
 
   <bean id = "spellChecker" class = "com.tutorialspoint.SpellChecker"></bean>
   
 
   
   <!-- Constructor-based dependency injection
   		
   <bean id ="textEditor" class = "com.tutorialspoint.TextEditor">
		<constructor-arg ref = "example"/> 
	</bean>
	
	<bean id = "example" class ="com.tutorialspoint.SpellChecker"></bean>
	
	-->
	
	<!-- Definition for textEditor bean using inner bean 
	
	<bean id = "textEditor" class = "com.tutorialspoint.TextEditor">
		<property name = "spellChecker">
			<bean id = "spellChecker" class = "com.tutorialspoint.SpellChecker"/>
		</property>
	</bean> 
	
	-->
	
</beans>